{% macro post_card(post=None, user_liked_posts_ids=[]) %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row row-cols-lg-auto row-cols-auto justify-content-between">
            <div class="col-sm">
              <h5 class="mb-0">
                {% if post %}
                  <a class="text-decoration-none" id="titleCard"
                     href="{{ url_for('posts.view', username=post.user.username, post_slug=post.slug) }}">
                    {{ post.title }}
                  </a>
                  {% if current_user.id == post.user.id %}
                    <a href="{{ url_for('posts.edit', post_id=post.id) }}">
                      <i class="ms-1 bi bi-pencil-square text-secondary" style="font-size: 1.1rem"></i>
                    </a>
                  {% endif %}
                {% else %}
                  <a class="text-decoration-none" id="titleCard" style="cursor: pointer;">
                    Title of your post in PyBlog!
                  </a>
                {% endif %}
              </h5>
            </div>
            <div class="col-sm-auto align-self-center">
              <span class="text-secondary">
                by
                {% if post %}
                  <a class="text-muted" href="{{ url_for('users.user_page', username=post.user.username) }}">
                    {{ post.user.username }}
                  </a>
                {% else %}
                  <a class="text-muted" href="{{ url_for('users.user_page', username=current_user.username) }}">
                    {{ current_user.username }}
                  </a>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title">
            <a class="text-muted text-decoration-none" href="">#frontend</a>
            <a class="text-muted text-decoration-none" href="">#framework</a>
            <a class="text-muted text-decoration-none" href="">#seo</a>
          </h6>
          {% if post %}
            <p class="card-text" id="descriptionCard">
              {{ post.description }}
            </p>
          {% else %}
            <p class="card-text" id="descriptionCard">
              This is the preview of your post card! It will appear on the feed exactly like this, except for the date
              and time. Click 'Save draft' to save the post, and press 'Publish' to make it visible to other members.
              This card is rendered as you type in the fields. Happy posting!
            </p>
          {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-between">
          <small class="text-muted">
            {% if post %}
              {% if post.is_published %}
                Posted in {{ format_date(post.posted_in) }}
              {% else %}
                Last edited in {{ format_date(post.posted_in) }}
              {% endif %}
            {% else %}
              Posted in {{ utc_now() }}
            {% endif %}
          </small>
          <div>
            <div class="d-inline">
              {% if not post %}
                <i style="cursor: pointer;" class="like bi bi-hand-thumbs-up"></i>
                <span>0</span>
              {% elif post and current_user.id in post.likes|map(attribute='user_id')|list %}
                <i id="{{ post.id }}" style="cursor: pointer;" class="like bi bi-hand-thumbs-up"></i>
                <span id="likesCount_{{ post.id }}">{{ post.likes|length }}</span>
              {% else %}
                <i id="{{ post.id }}" style="cursor: pointer;" class="like bi bi-hand-thumbs-up"></i>
                <span>{{ post.likes|length }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro post_cards(posts, user_liked_posts_ids=user_liked_posts_ids) %}
  {% for post in posts %}
    {{ post_card(post=post, user_liked_posts_ids=user_liked_posts_ids) }}
  {% endfor %}
{% endmacro %}