{% macro post_form(form) %}
  <form action="" method="POST">
    {{ form.csrf_token() }}
    <div class="mb-3">
      {{ form.title.label(class='form-label') }}
      {{ form.title(class='form-control', placeholder='My first post on PyBlog!', maxlength="50") }}
      <p class="float-end text-muted"><span id="titleCharCounter">0</span> / 50 characters</p>
    </div>

    <div class="mb-3">
      <label class="form-label" for="tags">Tags</label>
      <input class="form-control" type="text" name="tags" id="tags" placeholder="#html #frontend">
      <p class="float-end text-muted"><span id="tagsCounter">0</span> / 5 tags</p>
    </div>

    <div class="mb-3">
      {{ form.description.label(class='form-label') }}
      {{ form.description(class='form-control', placeholder='Maximum 300 characters description', maxlength='300', rows=4) }}
      <p class="float-end text-muted"><span id="descriptionCharCounter">0</span> / 300 characters</p>
    </div>

    <div class="mb-3">
      {{ form.content.label(class='form-label') }}
      {{ form.content(id='content') }}
    </div>

    <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
      {{ form.save_draft(class="btn btn-secondary me-md-2") }}
      {{ form.publish(class="btn btn-primary") }}
    </div>
  </form>
{% endmacro %}