{% extends 'layouts/col8_col4.html' %}
{% from 'posts/macro_post_card.html' import post_card with context %}
{% from 'posts/macro_post_form.html' import post_form with context %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/easymde/github.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/easymde/easymde.min.css') }}">
{% endblock head %}

{% block col8 %}
  <div id="createPost">
    {% if post %}
      <h1>Edit post</h1>
    {% else %}
      <h1>Create post</h1>
    {% endif %}
    {{ post_form(form=form) }}
  </div>
{% endblock col8 %}

{% block col4 %}
  <h1>Card preview.</h1>
  {{ post_card(post=post) }}
  <hr class="my-1">
{% endblock col4 %}

{% block script %}
  <script src="{{ url_for('static', filename='vendor/easymde/highlight.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/easymde/easymde.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/posts/new.js') }}"></script>
{% endblock script %}