{% include 'components/modals/login.html' %}
{% include 'components/modals/register.html' %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      PyBlog
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a data-bs-toggle="modal" data-bs-target="#registerModal" class="nav-link" style="color: gray;" href="">
          Register
        </a>
      </li>
      <li class="nav-item">
        <a data-bs-toggle="modal" data-bs-target="#loginModal" class="nav-link" style="color: gray;" href="">
          Login
        </a>
      </li>
    </ul>
  </div>
</nav>