{% extends 'layouts/col8_col4.html' %}
{% from 'posts/macro_post_card.html' import post_cards with context %}
{% from 'base/sidebar.html' import sidebar %}

{% block col8 %}
  <div id="posts">
    <h1 class="mb-3">Posts from your community</h1>
    {{ post_cards(posts=posts) }}
  </div>
{% endblock col8 %}

{% block col4 %}
  <div id="sidebar">
    {{ sidebar(recommended_posts=recommended_posts) }}
  </div>
  <hr class="mb-3 mb-lg-0">
{% endblock col4 %}

{% block script %}
  <script src="{{ url_for('static', filename='js/posts/like.js') }}"></script>
{% endblock script %}