{% extends 'layouts/col8_col4.html' %}
{% from 'posts/macro_post_card.html' import post_cards with context %}
{% from 'base/sidebar.html' import sidebar %}
{% from 'base/macro_pagination_posts.html' import pagination_posts %}

{% block col8 %}
  <div id="posts">
    <div class="d-flex justify-content-between mb-2">
      <h1>Posts from your community</h1>
      <div class="mt-1">
        {{ pagination_posts(posts=posts) }}
      </div>
    </div>
    {{ post_cards(posts=posts) }}
  </div>
{% endblock col8 %}

{% block col4 %}
  <div id="sidebar">
    {{ sidebar(recommended_posts=recommended_posts) }}
  </div>
  <hr class="mb-3 mb-lg-0">
{#  <div class="d-flex justify-content-center mt-3">#}
{#    {{ pagination_posts(posts=posts) }}#}
{#  </div>#}
{% endblock col4 %}

{% block script %}
  <script src="{{ url_for('static', filename='js/posts/like.js') }}"></script>
{% endblock script %}