{% macro modal_forgot_password(form) %}
  <div class="modal fade" id="forgotPasswordModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Reset password
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form action="{{ url_for('users.forgot_password') }}" method="POST">
          {{ form.csrf_token(id='f_csrf_token') }}
          <div class="modal-body">
            <div class="mb-3">
              {{ form.email.label(class='col-form-label') }}
              {{ form.email(id='f_email', class="form-control", placeholder="email@email.com") }}
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            {{ form.submit(id='f_submit', class="btn btn-primary w-100") }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endmacro %}